*{
    margin: 0;
    padding: 0;
    background-color: gray;
    color: white;
}
header{
    background-color: blueviolet;
    height: 80px;
    display: flex;
}
.logo{
    height: 100%;
    margin-left: 20%;
}
.headetDiv{
    height: 25px;
    margin-left: 48%;
    margin-top: 25px;
    
    display: flex;
    justify-content: end;
}
h1{
    margin-top: 35px;
    margin-left: 380px;
}
main{
    display: flex;
}
.altE{
    height: 300px;
}
.maxim{
    height: 305px;
}
.mainDiv1{
    margin-left: 380px;
    margin-top: 30px;
    width: 450px;
    height: 300px;
}
.mainDiv2{
    margin-top: 30px;
    margin-left:70px ;
    width: 550px;
}
h3{
    height: 150px;
}




